@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Sans-Serif;
    
}
body {
  background: url(../../assets/img/hero-bg.jpg) top right no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}
body .cre{
  text-align: center;
  transform: translateY(255px);
  color: #454f58;
  font-size: 15px;
  font-weight: 200;
}
body .cre a{
  text-decoration: none;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 800px;
    padding: 50px;
}

body:before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
  min-height: 122%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.togglem, .togglec{
  display: none;
}

header
{
    position: absolute;
    top: 1px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

header .menu
{
    display: none;
    width: auto;
    
}

header .menu li
{
    list-style: none;
    margin: 0 10px;
}
.hide.activ{
  display: flex;
}
header .menu li a
{
  text-decoration: none;
  font-weight: 300;
  color: #454f58;
  padding: 8px 15px;
  border-radius: 10px;
}

header .menu li a:hover,
.content .button a:hover,
header .menu li .active
{
  background: rgba(255,255,255,0.3);
  border: 1.5px solid rgba(255,255,255,0.5);
  animation: menu 0.7s;
}

@keyframes menu {
  0% {
    background: rgba(255,255,255,0);
  }
  100% {
    background: rgba(255,255,255,0.3);
  }
}

@media (max-width: 740px) {
  .togglem, .togglec.active {
    display: flex;
    font-weight: 100px;
    color: 	#454f58;
    transform: translateX(50px);
    
  }
  .togglem.active, .togglec {
    display: none;
    font-weight: 100px;
    color: 	#fff;
    transform: translateX(50px);
  }
  header .menu{
    position: fixed;
    display: inline-block;
    transform: translateX(-250px) translateY(500px);
    background: rgba(255,255,255,0.3);
    text-align: left;
    min-height: 1500%;
    min-width: 100px;
    position: absolute;
    padding-top: 15px;
    animation: menumbi 1s;
  }
  header .menu.active{
    position: fixed;
    display: inline-block;
    transform: translateX(-90px) translateY(500px);
    background: rgba(255,255,255,0.3);
    min-height: 1500%;
    min-width: 100px;
    position: absolute;
    padding-top: 15px;
    animation: menumbo 1s;
  }
  header .menu li {
    padding-top: 25px;
    
  }
  header .menu li a {
    margin: 0 20px;
    color: #000;
    text-decoration: none;
    font-weight: 300;
    padding: 8px 15px;
    background: rgba(255,255,255,0);
    border-radius: 0px;
  }
  header .menu li a:hover,
  header .menu li .active {
    background: rgba(255,255,255,0.3);
    border: 1.5px solid rgba(255,255,255,0.5);
    min-width: 10px;
  }
  
  header .menu .top{
    padding-top: 70px;
  }
}

@keyframes menumbo {
  0% {
    transform: translateX(-250px) translateY(500px);
  }
  100% {
    transform: translateX(-90px) translateY(500px);
  }
}

@keyframes menumbi {
  0% {
    transform: translateX(-90px) translateY(500px);
  }
  100% {
    transform: translateX(-250px) translateY(500px);
    
  }
}

header .logo{
    color: 	#454f58;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    /*animation-name: animations;
    animation-duration: 4s;*/
}

@media (max-width: 740px) {
  header .logo {
    transform: translateX(-50px);
  }
  header .logo ion-icon{
    display: none;
  }
}

.container
{
    position: relative;
    width: 100%;
    min-height: 300px;
    border-radius: 20px;
    display: center;
    align-items: center;
    text-align: center;
    padding: 10px 500px;
}

@media (max-width: 740px) {
  .container{
    text-align: center;
    padding: 0px 0px;
  }
}

.search {
  position: relative;
  width: auto;
  height: 60px;
  background: rgba(255,255,255,0);
  border-radius: 60px;
  box-shadow:  0 0 0 1px #454f58;
  overflow: hidden;
}

.search .icon {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  left: 0px;
}

.search .icon ion-icon {
  transform: translateY(12.5px);
  color: #454f58;
}

.search .input {
  position: relative;
  width: 80%;
  height: 60px;
  left: 60px;
  display: flex;
  background: rgba(255,255,255,0);
  justify-content: center;
  align-items: center;
}

@media (max-width: 740px) {
  .search .input {
    width: 80%;
  }
}

.search .input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0);
  border: none;
  outline: none;
  font-size: 15px;
}

.search ion-icon {
  position: absolute;
  right: 10px;
}

h3{
  font-size: 30px;
  color: #454f58;
}

.lenght{
  color: #454f58;
  font-size: 17px;
}

#err{
  display: none;
  color: red;
  font-size: 12px;
}

#err ion-icon{
  transform: translateY(2px);
}

#info{
  display: none;
  padding: 10px 200px;
  
  text-align: center;
  align-items: center;
  
  color: #454f58;
  width: auto;
  line-height: 1.3;
}

#info div{
  background: rgba(69,79,88,0.2);
  border-radius: 10px;
  border: 1.5px solid #454f58;
  padding: 10px 20px;
  text-align: left;
}

@media (max-width: 740px) {
  #info{
  display: none;
  padding: 0 0;
  background: rgba(69,79,88,0.2);
  border-radius: 10px;
  text-align: left;
  border: 1.5px solid #454f58;
  color: #454f58;
  width: auto;
  line-height: 1.3;
}
#info div{
  background: rgba(69,79,88,0);
  border-radius: 0;
  border: 0 solid #fff;
  padding: 10px 20px;
  text-align: left;
}

}

#info h3 {
  text-align: center;
}

#info a{
  text-decoration: none;
  text-align: left;
  color: rgba(69,79,88,0.5);
}

#info1{
  display: none;
  padding: 10px 200px;
  
  
  text-align: center;
  
  color: #454f58;
  font-weight: 500;
  width: auto;
  line-height: 1.3;
}

#info1 div{
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  border: 1.5px solid #454f58;
  padding: 10px 20px;
  text-align: left;
}

@media (max-width: 740px){
  #info1{
  display: none;
  background: rgba(255,255,255,0.2);
  padding: 0 0;
  border-radius: 10px;
  text-align: center;
  border: 1.5px solid rgba(69,79,88,0.5);
  color: #454f58;
  font-weight: 500;
  width: auto;
  line-height: 1.3;
}
#info1 div{
  background: rgba(255,255,255,0);
  border-radius: 0;
  border: 0 solid #454f58;
  padding: 10px 20px;
  text-align: center;
}

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
